#h3 Posts

%div{ "ng-app"=>"app" }

  %div{ "ng-controller" => "PostCtrl" }
    %ul
      %li{ "ng-repeat" => "post in posts.posts" }
        {{post.id}}
        \----
        {{post.title}}
        \----
        {{post.desc}}
        \----
        {{post.like}}
